ul#icons {
	margin: 0; 
	padding: 0;
}
ul#icons li {
	margin: 2px; 
	position: relative; 
	padding: 4px 0; 
	cursor: pointer; 
	float: left;  
	list-style: none;
}
ul#icons span.ui-icon {
	float: left; 
	margin: 0 4px;
}
#topo {
	background: url(../imgs/bg.png);
}
#rodape {
	background: transparent url(images/menu_m.png) repeat-x scroll 0 0;
}
#ur {    
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#dt {    
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.error { 
	font-weight: bold;
	color: red;
}
.login {		
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
}
.loginTable {
	background-image: url('../imgs/cadeado_bg.jpg');
	border: 0px solid black;
	width:500px;
	height:450px;	
}
