div.topo_esq {
	background-image: url('../imgs/bg2.jpg');
	float:left;
	width:5%;	
}
div.topo_cen {
	background-image: url('../imgs/bg2.jpg');
	float:left;
	text-align: botton;
	margin-left: auto; 
	margin-right: auto; 
	width:90%;	
}
div.topo_dir {
	background-image: url('../imgs/bg2.jpg'); /*336433*/ 
	float:right;
	width:5%;		
}
#rodape {
	background-color: #649b64;	
}
#ur {    
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#dt {    
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.texto_tax {    
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.texto_branco {    
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}
.error { 
	font-weight: bold;
	color: red;
}
.login {		
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
}
.loginTable {
	background-image: url('../imgs/cadeado_bg.jpg');
	border: 0px solid black;
	width:500px;
	height:450px;	
}
